<!DOCTYPE html>
<html>

<head>
  <meta content="telephone=no" name="format-detection" />

  <meta charset="utf-8" />
  <meta http-equiv="Pragma" contect="no-cache" />
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
  <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=0e1bb42e1ba97f8a4f8e6580d05bfcdc">
  </script>

  <link rel="icon" type="image/x-icon" href="favicon.ico" />
</head>

<body>
  <div id="root"></div>
</body>

</html>